@model eFaculty.ViewModels.EnrollmentYearFilterVM
@{
    ViewData["Title"] = "CourseStudents";
}



<h2>Enrolled students for @ViewData["CourseTitle"] </h2>
<br />

<form asp-controller="Enrollments" asp-action="CourseStudents" method="get">
    <p>
        @Html.DropDownListFor(m => m.EnrollmentYear, Enumerable.Range(1, 4)
              .Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))

        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Student.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].SeminarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].SeminarPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminarUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminarPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @if (item.FinishDate == null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>